:root{
    --Midnight-Green:#755CDE;
    --Light-Coral:  #F6A560;
    --Rapture-Blue:#F39E9E;
    --Police-Bluef:#EB7565;
    --Police-Blue:#61C4B7;
    --Deep--Jungle-Green:#552049;
    --Sacramento-State-Green:#030303;
    --Dark-Green:#7A746E;
  --White: #FFF7F0;
 
  --main-font:"Plus Jakarta Sans",sans-serif;
}